[user]
	email = eshiroma@gmail.com
	name = Erika Shiroma

[core]
	editor = vim

[alias]
	log-graph = log --graph --oneline --decorate --all
	ld = log --pretty=format:'%C(yellow)%h%Creset %C(green)%cs%Creset %s%C(auto)%d'
